html{
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

@import url(../css/font.css);

.body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    background-color: #F8F8F8;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #D9FFF5;
}

.communication {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__item:first-of-type {
    justify-content: flex-start;
    flex-basis: 50%;
}

.header__item:first-of-type {
    justify-content: flex-end;
    flex-basis: 50%;
}

.communication {
    display: none;
}


.button {
    display: block;
    border: none;
    background-color: #fff;
}



.rem-info__item:last-of-type {
    margin-right: 12px;
}

.main-header {
    justify-content: flex-start;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 50%;
    min-height: 88px;
    padding: 0;
}

.rem-info {
    justify-content: flex-end;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 50%;
    min-height: 88px;
}

.main-header__item:last-of-type {
    margin-left: 12px;
}

.communication__item {
    margin-left: 6px;
}

.icon-menu__item:nth-last-of-type(2) {
    display: flex;
    align-items: center;
}

.icon-menu__item:nth-last-of-type(2)::before {
    content: url('../images/divider.svg');
    padding-right: 16px;
    margin-left: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: #F8F8F8;
    overflow: hidden;
}

.content-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F8F8F8;
}

.content-header h1 {
    font-family: 'TT Lakes Bold';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    white-space: nowrap;
}

.content-header::before {
    content: url('../images/highlight.svg');
    padding: 0;
    padding-right: 20px;
}


.menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    overflow: auto;
    background-color: #F8F8F8;
}

.content__menu {
    margin-left: -24px;
    background-color: #F8F8F8;
}

.menu-list__link {
    display: flex;
    min-height: 40px;
    align-items: center;
}

.menu-list__link a {
    white-space: nowrap;
    text-decoration: none;
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    padding-left: 12px;
    padding-right: 12px;
}

/*.menu-list__link:first-of-type {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #fff;
} */

.menu-list__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #fff;
}

.menu-list__link:last-of-type {
    margin-right: 16px;
}


.popup-text {
    display: none;
}

.content__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-read__text {
    display: block;
    padding-left: 26px;
    margin-right: 16px;
    font-family: 'TT Lakes Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    width: 96%;
}

.info-read__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 12px;
    border: none;
    background-color: #F8F8F8;
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.info-image {
    display: flex;
    justify-content: center;
    width: 100%;
}


.info-image__photo-company {
    width: 100%;
    height: auto;
    margin-top: 16px;
    margin-bottom: 8px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {

    .icon-menu__item:first-child, .icon-menu__item:nth-child(2), .icon-menu__item:nth-child(3) {
        display: block;
    }

    .popup-text {
        display: inline;
    }

    .main-header__item:first-of-type {
        display: flex;
        align-items: center;
    }

    .main-header__item:nth-child(2)::before {
        content: url('../images/divider.svg');
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-header__item:last-of-type {
        margin-left: 0;
    }

    .main-header__item:first-child {
        margin-left: 12px;
    }

    .icon-menu__item:nth-last-of-type(2)::before {
        content: url('../images/divider.svg');
        margin-right: 16px;
        margin-left: 12px;
    }

    .content__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .info-read {
        width: 47%;
    }

    .info-read__text {
        line-height: 20px;
    }

    .info-read__button {
        margin-top: 12px;

    }

    .info-image__photo-company {
        border-radius: 6px;
        padding-right: 12px;
        width: 100%;
        height: auto;
    }

    .info-image {
        width: 47%;
    }

}

@media (min-width: 1120px) {

    html {
        background-color: #F8F8F8;
    }

    .popup-text {
        display: inline;
    }

    .content__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .content__caption {
        margin-top: 20px;
    }

    .info-image {
        width: 47%;
    }

    .info-read {
        width: 47%;
    }

    .info-read__text {
        line-height: 20px;
    }

    .info-read__button {
        margin-top: 12px;

    }

    .info-image__photo-company {
        border-radius: 6px;
        padding-right: 12px;
        width: 100%;
        height: auto;
    }
    
    .header {
        border: none;
    }

    .button {
        background-color: #F8F8F8;
    }

    .main-header {
        display: none;
    }

    .icon-menu__item:nth-last-of-type(1)::before {
        content: "Оставить заявку";
        margin-right: 9px;
        margin-left: 20px;
        font-family: 'TT Lakes Medium';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        white-space: nowrap;
    }

    .icon-menu__item:nth-last-of-type(1) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .icon-menu__item:nth-last-of-type(2)::before {
        content: "Статус ремонта";
        margin-right: 9px;
        margin-left: 20px;
        font-family: 'TT Lakes Medium';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        white-space: nowrap;
    }

    .icon-menu__item:nth-last-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-list {
        overflow: visible;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-self: flex-start;
        width: 100%;
    }
    
    .header__item:last-of-type {
        position: absolute;
        top: 0;
        right: 0;
    }
}