html{
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

@import url(../css/font.css) all;
@import url(../css/normalize.css) all;
@import url(../css/button/button.css) all;
@import url(../css/communication/communication.css) all;
@import url(../css/rem-info/rem-info.css) all;
@import url(../css/header/header.css) all;
@import url(../css/header/header_sidebar.css) all;
@import url(../css/menu-list/menu-list.css) all;
@import url(../css/menu-list/menu-list_sidebar.css) all;
@import url(../css/langs/langs.css);
@import url(../css/contact-info/contact-info.css);

.sidebar-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    background-color: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
                16px 0px 52px rgba(14, 24, 80, 0.2);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__communication {
    margin-top: 200px;
    margin-left: -26px;
}

.footer__address {
    margin-left: 24px;
}

.footer__langs {
    margin-bottom: 24px;
    margin-left: -26px;
}

