@import url(../css/font.css);
@import url(../css/normalize.css);
@import url(../css/list/list.css);
@import url(../css/link/link.css);
@import url(../css/link/link_active.css);
@import url(../css/button/button.css);
@import url(../css/header/header.css);
@import url(../css/main-content/main-content.css);
@import url(../css/main-cont-header/main-cont-header.css);


html{
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.body {
    min-width: 320px;
    background-color: #F8F8F8;
}