@import url(../css/font.css) all;
@import url(../css/normalize.css) all;
@import url(../css/content/content.css) all;
@import url(../css/brands-list/brands-list.css) all;
@import url(../css/floating-button/floating-button.css) screen and (min-width: 768px);


html{
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}


.brands-slider__pagination {
    position: sticky;
}

.swiper-pagination-bullet {
    background-color: #B5B6BC;
}
