@import url(../langs/langs__button.css);
@import url(../langs/langs__button_active.css);

.langs {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}