@media (min-width: 768px) {

    .brands-list_hide {
<<<<<<< HEAD
            max-height: 200px;
            overflow: hidden;
            transition-property: max-height;
            transition-duration: 1s;
=======
            height: 200px;
            overflow: hidden;
>>>>>>> f6b2fc7c1f6cf84ff3f8ff164ffb29e9de9fe70f
    }
    }