@import url(../brands-list/brands-list__item.css);
@import url(../brands-list/brands-list__btn-go.css);
@import url(../brands-list/brands-list__logo.css);
@import url(../brands-list/brands-list_hide.css);
@import url(../brands-list/brands-list_show.css);

@media (min-width: 768px) {
.brands-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    column-gap: 12px;
    row-gap: 12px;
}
}

@media (min-width: 1120px) {
    .brands-list {
        column-gap: 16px;
    }
}