@import url(../header/header__rem-info_sidebar.css);
@import url(../header/header__burger.css);
@import url(../header/header__logo.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    min-height: 88px;
    width: 100%;
}