@media (min-width: 1120px) {

    .header {
        background-color: #F8F8F8;
        border-bottom: none;
    }
    
    .header__burger {
        display: none;
    }
    
    .header__communication {
        display: none;
    }
    
    .header__logo {
        display: none;
    }
    
    .header__rem-info {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .header__rem-info::before {
        content: "";
    }
    
    }