@import url(../font.css);
@import url(../menu-list/menu-list.css);
@import url(../main-content/main-content__menu.css);
@import url(../main-content/main-content__info.css);
@import url(../main-content/main-content__header_desktop.css) screen and (min-width: 1440px);
@import url(../info-read/info-read.css);
@import url(../info-image/info-image.css);

.main-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: #F8F8F8;
    overflow: hidden;
}

@media (min-width: 768px) {

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
