@import url(../../css/font.css);

.floating-button_hide::before {
    content: 'Скрыть';
    padding-left: 8px;
    transform: rotate(180deg);
    font-family: 'TT Lakes Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.floating-button_hide:hover {
    transform: rotate(180deg) scale(1.1);
    font-family: 'TT Lakes Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}


.floating-button_hide {
    transform: rotate(180deg) scale(1);
    transition-duration: 0.3s;
    transition-property: transform;
    font-family: 'TT Lakes Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}