<<<<<<< HEAD
@import url(../../css/font.css);

.floating-button_show::after, .floating-button_show:active::after{
=======
@import url(../font.css);

.floating-button_show::after {
>>>>>>> f6b2fc7c1f6cf84ff3f8ff164ffb29e9de9fe70f
    content: 'Читать далее';
    padding-left: 8px;
    font-family: 'TT Lakes Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

<<<<<<< HEAD
.floating-button_show, .floating-button_show:active {
=======
.floating-button_show {
>>>>>>> f6b2fc7c1f6cf84ff3f8ff164ffb29e9de9fe70f
    transform: rotate(360deg) scale(1);
    transition-duration: 0.3s;
    transition-property: transform;
    font-family: 'TT Lakes Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.floating-button_show:hover {
    transform: rotate(360deg) scale(1.1);
    font-family: 'TT Lakes Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}