@import url(../font.css);
@import url(../floating-button/floating-button.css);

.info-read__button {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 8px;
    font-family: 'TT Lakes Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}