.info-read__text {
    display: block;
    padding-left: 26px;
    margin-right: 16px;
    font-family: 'TT Lakes Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    width: 96%;
}