.menu-list {
    overflow: visible;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}

.menu-list__item {
    margin-top: 32px;
    margin-left: 24px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.2s;
    display: block;
    min-height: 0;
    padding: 0;
}

.menu-list__item:last-of-type {
    margin-right: 0;
}

.menu-list__item_active {
    display: flex;
    align-items: center;
    margin-left: 0px;
    color: #7E7E82;
    border: none;
    background-color: #fff;
    margin: 0;
}

.menu-list__item:hover {
    transform: scale(1.1);
}

.menu-list__item_active:hover {
    transform: none;
}

.menu-list__item_active::before {
    content: url('../../images/highlight.svg');
    margin-right: 20px;
}

.menu-list__link {
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
}

.menu-list__link_active {
    color: #7E7E82;
}