@import url(../menu-list/menu-list__item_side.css);
@import url(../menu-list/menu-list__link_side.css);
@import url(../menu-list/menu-list__link_side-active.css);
@import url(../menu-list/menu-list__item_side-active.css);


.menu-list_side {
    overflow: visible;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}